<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">&ndash;&gt;-->
<!--<head>-->
<!--	<meta charset="UTF-8"/>-->
<!--	<title>Pet Clinic Index</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Test</h1>-->
<!--&lt;!&ndash;<h2 th:text="#{welcome}">Welcome</h2>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;	<div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;		<img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>&ndash;&gt;-->
<!--&lt;!&ndash;	</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
</body>
</html>